<a href="https://colab.research.google.com/github/I-am-Danish04/Python_Data_Structure/blob/main/Python_DS_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1) Write a code to reverse a string
s = input("Enter the string: ")
str_rev = ""
str_rev = s[::-1]
print("Reversed String:",str_rev)

Enter the string: Hello World
Reversed String: dlroW olleH

In [ ]:
# 2) Write a code to count the number of vowels in a string
s = input("Enter the string: ")
count = 0
vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
for i in s:
  if i in vowels:
    count += 1
print("Number of vowels are:", count)

Enter the string: Hello World
Number of vowels are: 3

In [ ]:
# 3) Write a code to check if a given string is a palindrome or not
s = input("Enter the string: ")
str_rev = s[::-1]
if s.lower() == str_rev.lower():
  print("String is a Palindrome")
else:
  print("String is not a Palindrome")

Enter the string: Bob
String is a Palindrome

In [ ]:
# 4)  Write a code to check if two given strings are anagrams of each other
str1 = input("Enter the first string: ")
str2 = input("Enter the second string: ")
if sorted(str1.lower()) == sorted(str2.lower()):
  print("String is an Anagram")
else:
  print("String is not an Anagram")

Enter the first string: Elephant
Enter the second string: Phaeeltn
String is an Anagram

In [ ]:
# 5) Write a code to find all occurrences of a given substring within another string
occurrences = []
s = input("Enter the string: ")
sub_str = input("Enter the substring: ")
for i in range(len(s)):
  if s[i:i+len(sub_str)] == sub_str:
    occurrences.append(i)
print("Substring occurred at index:", occurrences)

Enter the string: Banana
Enter the substring: ana
Substring occurred at index: [1, 3]

In [ ]:
# 6) Write a code to perform basic string compression using the counts of repeated characters
s = input("Enter the string: ")
compressed = []
count = 1
for i in range(1, len(s)):
  if s[i] == s[i-1]:
    count += 1
  else:
    compressed.append(s[i-1] + str(count))
    count = 1
compressed.append(s[-1] + str(count))
print("Compressed string is:", ''.join(compressed))

Enter the string: aabccccd
Compressed string is: a2b1c4d1

In [ ]:
# 7) Write a code to determine if a string has all unique characters
s = input("Enter the string: ")
flag = True
for i in range(len(s)):
  for j in range(i+1, len(s)):
    if s[i] == s[j]:
      print("String has duplicate values")
      flag = False
      break
if flag == True:
  print("String is unique")

Enter the string: abcdef
String is unique

In [ ]:
# 8)  Write a code to convert a given string to uppercase or lowercase
s = input("Enter the string: ")
print("Converting string to uppercase:", s.upper())
print("Converting string to lowercase:", s.lower())

Enter the string: Hello World
Converting string to uppercase: HELLO WORLD
Converting string to lowercase: hello world

In [ ]:
# 9) Write a code to count the number of words in a string
s = input("Enter the string: ")
count = 1
for i in range(len(s)):
  if s[i] == " ":
    count += 1
print("Number of words in a string are:", count)

Enter the string: Hello World, Welcome to PW
Number of words in a string are: 5

In [ ]:
# 10) Write a code to concatenate two strings without using the + operator
s1 = input("Enter the first string: ")
s2 = input("Enter the second string: ")
s = ''.join([s1, s2])
print(s)

Enter the first string: Hello
Enter the second string: World
HelloWorld

In [ ]:
# 11) Write a code to remove all occurrences of a specific element from a list
l = [1, 2, 3, 4, 3, 2, 3]
remove = int(input("Enter the element to remove: "))
updated_l = []
for i in range(len(l)):
  if l[i] != remove:
    updated_l.append(l[i])
print("After removing",remove,"list is",updated_l)

Enter the element to remove: 3
After removing 3 list is [1, 2, 4, 2]

In [ ]:
# 12) Implement a code to find the second largest number in a given list of integers
l = [1,2,3,4,89,7,10]
maxi = l[0]
sec_max = l[0]
for i in range(1, len(l)):
  maxi = max(maxi, l[i])
for i in range(1, len(l)):
  if l[i] != maxi:
    sec_max = max(sec_max, l[i])
print("Second maximum element is:", sec_max)

Second maximum element is: 10

In [ ]:
# 13) Create a code to count the occurrences of each element in a list and return a dictionary with elements as
# keys and their counts as values
l = [1,2,3,1,4,4,5,5,2,5]
counts = {}
for i in l:
  if i in counts:
    counts[i] += 1
  else:
    counts[i] = 1
print(counts)

{1: 2, 2: 2, 3: 1, 4: 2, 5: 3}

In [ ]:
# 14) Write a code to reverse a list in-place without using any built-in reverse
l = [1,2,3,4,5,6]
left = 0
right = len(l) - 1
while left < right:
  l[left], l[right] = l[right], l[left]
  left += 1
  right -= 1
print("Reversed list is:", l)

Reversed list is: [6, 5, 4, 3, 2, 1]

In [ ]:
# 15) Implement a code to find and remove duplicates from a list while preserving the original order of
# elements
l = [1,2,3,5,1,2,1,5,4,5]
updated_l = []
for i in l:
  if i not in updated_l:
    updated_l.append(i)
print("List after removing duplicates is:", updated_l)

List after removing duplicates is: [1, 2, 3, 5, 4]

In [ ]:
# 16) Create a code to check if a given list is sorted (either in ascending or descending order) or not
l = [9,6,4,2]
if all(l[i] <= l[i+1] for i in range(len(l) - 1)):
  print("List is sorted in ascending order")
elif all(l[i] >= l[i+1] for i in range(len(l) - 1)):
  print("List is sorted in descending order")
else:
  print("List is not sorted")

List is sorted in descending order

In [ ]:
# 17) Write a code to merge two sorted lists into a single sorted list
l1 = [1,2,3,10,12]
l2 = [6,7,8,9]
l = []
i = 0
j = 0
k = 0
while i in range(len(l1)) and j in range(len(l2)):
  if l1[i] < l2[j]:
    l.append(l1[i])
    i += 1
    k += 1
  else:
    l.append(l2[j])
    j += 1
    k += 1
while i in range(len(l1)):
  l.append(l1[i])
  i += 1
  k += 1
while j in range(len(l2)):
  l.append(l2[j])
  j += 1
  k += 1
print(l)

[1, 2, 3, 6, 7, 8, 9, 10, 12]

In [ ]:
# 18) Implement a code to find the intersection of two given lists
l1 = [3,4,2,6,7]
l2 = [9,0,7,4]
s1 = set(l1)
s2 = set(l2)
intersection = s1 & s2
print("Intersection of two given lists are:",list(intersection))

Intersection of two given lists are: [4, 7]

In [ ]:
# 19) Create a code to find the union of two lists without duplicates
l1 = [3,4,2,6,7]
l2 = [9,0,7,4]
s1 = set(l1)
s2 = set(l2)
union = s1 | s2
print("Union of two lists are:", list(union))

Union of two lists are: [0, 2, 3, 4, 6, 7, 9]

In [1]:
# 20) Write a code to shuffle a given list randomly without using any built-in shuffle functions
import random
l = [1,2,3,4,5]
for i in range(len(l)):
  rand = random.randint(0, len(l) - 1)
  l[i], l[rand] = l[rand], l[i]
print("List after shuffling is:", l)

List after shuffling is: [4, 1, 3, 5, 2]

In [4]:
# 21) Write a code that takes two tuples as input and returns a new tuple containing elements that are
# common to both input tuples
t1 = tuple(map(int, input("Enter the first tuple, separated by spaces:").split()))
t2 = tuple(map(int, input("Enter the second tuple, separated by spaces:").split()))
t = set(t1) & set(t2)
print("Common elements of two tuples are:", tuple(t))

Enter the first tuple, separated by spaces:1 2 3 4 5
Enter the second tuple, separated by spaces:4 5 6 7 8
Common elements of two tuples are: (4, 5)

In [8]:
# 22) Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
# intersection of these two sets
s1 = input("Enter the first set of integers(comma-separated):")
s2 = input("Enter the second set of integers(comma-separated):")
set1 = set(map(int, s1.split(',')))
set2 = set(map(int, s2.split(',')))
intersection = set1 & set2
print("Intersection of two sets are:", intersection)

Enter the first set of integers(comma-separated):1,2,3,4,5
Enter the second set of integers(comma-separated):4,5,6,7,8
Intersection of two sets are: {4, 5}

In [13]:
# 23) Write a code to concatenate two tuples. The function should take two tuples as input and return a new
# tuple containing elements from both input tuples.
t1 = tuple(map(int, input("Enter the first tuple, separated by spaces:").split()))
t2 = tuple(map(int, input("Enter the second tuple, separated by spaces:").split()))
t = t1 + t2
print("Unique elements:", t)

Enter the first tuple, separated by spaces:1 2 3 4 5
Enter the second tuple, separated by spaces:6 7 8 9 10
Unique elements: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [14]:
# 24) Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
# present in the first set but not in the second set
s1 = input("Enter the first set of strings(comma-separated):")
s2 = input("Enter the second set of strings(comma-separated):")
set1 = set(map(int, s1.split(',')))
set2 = set(map(int, s2.split(',')))
s = set1 - set2
print("Elements present in set 1 but not in set 2 are:", s)

Enter the first set of strings(comma-separated):1,2,3,4,5
Enter the second set of strings(comma-separated):4,5,2,6,7
Elements present in set 1 but not in set 2 are: {1, 3}

In [15]:
# 25) Create a code that takes a tuple and two integers as input. The function should return a new tuple
# containing elements from the original tuple within the specified range of indices
t = input("Enter the elements of tuple(comma-separated):")
start = int(input("Enter the start index:"))
end = int(input("Enter the end index:"))
user_tuple = tuple(map(int, t.split(',')))
result = user_tuple[start:end+1]
print("Sliced tuple is:", result)

Enter the elements of tuple(comma-separated):1,2,3,4,5,6,7,8,9
Enter the start index:1
Enter the end index:5
Sliced tuple is: (2, 3, 4, 5, 6)

In [18]:
# 26) Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets
s1 = input("Enter the first set of characters(comma-separated):")
s2 = input("Enter the second set of characters(comma-separated):")
set1 = set(map(str, s1.split(',')))
set2 = set(map(str, s2.split(',')))
s = set1 | set2
print("Union of two sets is:", s)

Enter the first set of characters(comma-separated):a,b,c,d,e,f
Enter the second set of characters(comma-separated):g,h,i,j,k,b
Union of two sets is: {'g', 'b', 'h', 'k', 'f', 'e', 'a', 'd', 'j', 'c', 'i'}

In [20]:
# 27) Develop a code that takes a tuple of integers as input. The function should return the maximum and
# minimum values from the tuple using tuple unpacking
t = input("Enter the elements of tuple(comma-separated):")
tup = tuple(map(int, t.split(',')))
maxi = max(tup)
mini = min(tup)
print("Maximum value is:", maxi)
print("Minimum value is:", mini)

Enter the elements of tuple(comma-separated):1,2,3,4,5,6,7,8,9,100
Maximum value is: 100
Minimum value is: 1

In [22]:
# 28) Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
# two sets
s1 = input("Enter the first set of integers(comma-separated):")
s2 = input("Enter the second set of integers(comma-separated):")
set1 = set(map(int, s1.split(',')))
set2 = set(map(int, s2.split(',')))
union = set1 | set2
intersection = set1 & set2
difference1 = set1 - set2
difference2 = set2 - set1
print("Union of two sets is:", union)
print("Intersection of two sets is:", intersection)
print("Difference of first set from second is:", difference1)
print("Difference of second set from first is:", difference2)

Enter the first set of integers(comma-separated):1,2,3,4,5,6,7
Enter the second set of integers(comma-separated):5,6,7,8,9,10,11,12
Union of two sets is: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
Intersection of two sets is: {5, 6, 7}
Difference of first set from second is: {1, 2, 3, 4}
Difference of second set from first is: {8, 9, 10, 11, 12}

In [24]:
# 29) Write a code that takes a tuple and an element as input. The function should return the count of
# occurrences of the given element in the tuple
t = input("Enter the elements of tuple(comma-separated):")
tup = tuple(map(int, t.split(',')))
element = int(input("Enter the element you want to search: "))
count = 0
for ele in tup:
  if ele == element:
    count += 1
print("The element", element, "occurs", count, "times in the tuple")

Enter the elements of tuple(comma-separated):1,2,3,4,5,6,7,8,4,9,2,5,4,1,4,6,4
Enter the element you want to search: 4
The element 4 occurs 5 times in the tuple

In [25]:
# 30) Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
# these two sets
s1 = input("Enter the first set of strings(comma-separated): ")
s2 = input("Enter the second set of strings(comma-separated): ")
set1 = set(map(str, s1.split(',')))
set2 = set(map(str, s2.split(',')))
s = set1 ^ set2
print("Symmetric difference of two sets is:", s)

Enter the first set of strings(comma-separated): Ace, Ball, Cat, Dog
Enter the second set of strings(comma-separated): Cat, Bat, Ball
Symmetric difference of two sets is: {' Dog', ' Bat', 'Cat', 'Ace', ' Cat'}

In [30]:
# 31) Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
# and the values are the frequencies of those words in the input list
l = input("Enter the list of words(comma-separated): ")
li = list(map(str, l.split(',')))
dict = {}
for word in li:
  if word in dict:
    dict[word] += 1
  else:
    dict[word] = 1
print("Word frequencies:", dict)

Enter the list of words(comma-separated): apple, banana, apple, orange, banana, apple
Word frequencies: {'apple': 1, ' banana': 2, ' apple': 2, ' orange': 1}

In [34]:
# 32) Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
# common keys, the values should be added together
d1 = {'a':1, 'b':2}
d2 = {'b':3, 'c':4}
d = d1.copy()
for key, value in d2.items():
  if key in d:
    d[key] += value
  else:
    d[key] = value
print("Merged dictionary:", d)

Merged dictionary: {'a': 1, 'b': 5, 'c': 4}

In [35]:
# 33) Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
# keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
# function should return None
d = {'student': {'details': {'name': 'Ajay', 'age': 20}}}
keys = ['student', 'details', 'name']
for key in keys:
  if key in d:
    d = d[key]
  else:
    print("None")
print("Value:", d)

Value: Ajay

In [40]:
# 34) Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
# can choose whether to sort in ascending or descending order
del dict
d = {'apple': 3, 'banana': 1, 'cherry': 2}
sorted_d = sorted(d.items(), key = lambda x:x[1])
print("Sorted dictionary is:", dict(sorted_d))

Sorted dictionary is: {'banana': 1, 'cherry': 2, 'apple': 3}

In [41]:
# 35) Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
# correctly handles cases where multiple keys have the same value by storing the keys as a list in the
# inverted dictionary
d = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
inverted_d = {}
for key, value in d.items():
  if value in inverted_d:
    inverted_d[value].append(key)
  else:
    inverted_d[value] = [key]
print("Inverted dictionary is:", inverted_d)

Inverted dictionary is: {1: ['a', 'c'], 2: ['b'], 3: ['d']}